<html>
<head>
	<title>POC- Dynamic rendering</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery.dform-1.1.0.min.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
    
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	
	<style type="text/css">
		html, body, div, h1, h2, h3, h4, h5, h6, ul, li{
			margin		:	0;
			padding		:	0;
		}
		.OPEN_CARD{
			background-color: red !important;
		}
	</style>
</head>
<body>
	<div id="body">

	</div>
	<!-- <button onclick="open_card('sdfsdf');" style="position:absolute; top: 200px; left:0;">sdfdf</button> -->
</body>
</html>
